/* definir a margin o padding e a fonte do site */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* .cor_fundo {
    background-color: #fff9ee;      <------ essa tag é a cor de fundo do outro site que eu fiz, se quiser usar é so tirar do comentario 
} */

/* mexe no cabeçalho do site e coloca a imagem de fundo */
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./imagins/hapvida.png'); /* a parte rgba serve para deixar a imagem com esse tema escuro */
    background-position: center;
    background-size: cover;
}


a {
    text-decoration: none;
}

/* esse header .menu mexe na class menu do header */
header .menu {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

/* esse header .menu li mexe na parte da tag li do header class menu */
header .menu li{
    display: inline-block;
}
/* e esse aqui mexe na tag 'a' da class menu contido no header */
header .menu a{
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
    transition: 200ms;
}

/* mexe no header class menu que vai para a class ativo tbm, e o :hover ser para cirar interatividade com o mouse e a caixa de texto */
header .menu .ativo, header .menu a:hover{
    color: #444;
    background-color: white;
}

/* esse principal mexe da parte do h2 e no se inscreva */
.principal{ 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* a tag h2 o nome do trabalho */
.principal h2{
    color: white;
    font-size: 45px;
}


/* botão se inscreva */
.principal .links a{
    color: white;
    padding: 10px 18px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 20px;
    transition: 200ms;
}
/* :hover serve para criar interação com o mouse */
.principal .links a:hover{
    color: #444;
    background-color: white;
}


/* dica: oq for fazer de botão usa o :hover para criar essa interatividade com o mouse e o botão */
